<app-loader></app-loader>

<div class="page-columns">
  <app-team-container class="info-column app-background"></app-team-container>
  <app-match class="match-column app-background"></app-match>
  <div class="results-column app-background">RESULTS:</div>
</div>
<div>
  <button class="mat-button" (click)="fetchTeams()">Fetch Teams</button>
  <hr />
  <ul *ngIf="haveData">
    <li>{{teams[0].team_name}}</li>
    <li>{{teams[1].team_name}}</li>
    <li>{{teams[2].team_name}}</li>
    <li>{{teams[3].team_name}}</li>
    <li>{{teams[4].team_name}}</li>
    <li>{{teams[5].team_name}}</li>
  </ul>
</div>
