.team-container-list {
    list-style-type: none;
    margin-left:0px;
    padding-left:0px;
}


.team-container-list img {
    float:left;
}

.team-container-list p,h3 {
    text-align: right; 
    display:inline-block;
    padding: 0;
}

.team-container-list:nth-child(odd) {
    /*background-color: #6e4b95;*/
    background-color: #72767E;
}
.team-container-list:nth-child(even) {
    /*background-color: #743795;*/
    background-color: #7C8391;
}

.team-container-header {
    border-style: dashed;
    border-color: #BBBAC6;
    padding: 10px;
}

.list-nuller {
    padding: 0px;
    margin: 0px;
}